.Card {
  width: 300px;
  border: maroon solid 2px;
  border-radius: 8px;
  padding: 12px;
  margin: 20px;
  position: relative;
}

.Card__bookmark {
  position: absolute;
  height: 40px;
  padding: 0;
  border: 12px solid grey;
  border-bottom-color: transparent;
  right: 20px;
  top: -12px;
}

.Card__bookmark.active {
  border-color: indianred;
  border-bottom-color: transparent;
}

.Card__tags {
  display: flex;
  gap: 12px;
  padding: 0;
  list-style-type: none;
}

.Card__tag {
  background: lightblue;
  padding: 4px;
  border-radius: 4px;
}
