.Navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  text-align: center;
  align-content: center;
}

.Navigation__Item {
  background: whitesmoke;
  border: black 2px solid;
}

.Navigation__Item--active {
  background: darkorchid;
}
